
.loginmain{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   background-image:  linear-gradient(0deg, 
   rgba(0, 69, 97, 0.314), 
   rgb(0, 0, 0)),url('../assets/bck.jpg');
   background-position: center;
   background-size: cover;
    flex-direction: column;
    background-repeat: no-repeat;
  
}
.loghead{
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    
}
.loginleft{
    display: flex;
    flex-direction: column;
   gap:10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.logpara{
    font-size: 14px;
    color: #fff;
 
    
}
.form-container {
    width: 450px;
    border-radius: 0.75rem;
    background-color: rgba(0, 0, 0, 0);
    padding: 2rem;
    color: rgba(243, 244, 246, 1);
  }
  
  .title {
    text-align: center;
    font-size: calc(1.34375rem + 1.125vw);
    line-height: 2rem;
    font-weight: 700;
  }
  
  .form {
    margin-top: 1.5rem;
  }
  

  
  .group label {
    display: block;
    color: rgb(252, 252, 252);
    margin-bottom: 4px;
    font-weight: 600;
  }
  

  
  .forgot {
    display: flex;
    justify-content: flex-end;
    font-size: 0.75rem;
    line-height: 1rem;
    color: rgba(156, 163, 175,1);
    margin: 8px 0 14px 0;
  }
  
 #link {
   color: rgba(243, 244, 246, 1);
   text-decoration: none;
   font-size: 14px;
  }
  #link:hover{
    
    color: #FCD21C;
  }
  
 
  
  #sign {
    display: block;
    width: 100%;
    background-color: #FCD21C;
    padding: 0.75rem;
    text-align: center;
    color: rgba(17, 24, 39, 1);
    border: none;
    border-radius: 0.375rem;
    font-weight: 600;
  }
  #sign:hover{
    color: white;
    background-color: #e3bf1b;
  }
  .social-message {
    display: flex;
    align-items: center;
    padding-top: 1rem;
  }
  
  .line {
    height: 1px;
    flex: 1 1 0%;
    background-color: #FCD21C;
  }
  
  .social-message .message {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: rgba(156, 163, 175, 1);
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
  }
  
  .social-icons .icon {
    border-radius: 0.125rem;
    padding: 0.75rem;
    border: none;
    background-color: transparent;
    margin-left: 8px;
  }
  
  .social-icons .icon svg {
    height: 1.25rem;
    width: 1.25rem;
    fill: #fff;
  }
  
  .signup {
    text-align: center;
    font-size: 0.75rem;
    line-height: 1rem;
    color: rgba(156, 163, 175, 1);
  }

  .group {
    display: flex;
    line-height: 28px;
    align-items: start;
    flex-direction: column;
    position: relative;
    margin-top: 0.25rem;
    font-size: 0.875rem;
    
   }
   
   .input {
    width: 100%;
    height: 40px;
    line-height: 28px;
    padding: 0.75rem 1rem;
    border: 3px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f411;
    color: #ffffff;
    transition: .3s ease;
   }
   
   .input::placeholder {
    color: #9e9ea7;
   }
   
   .input:focus, input:hover {
    outline: none;
    border-color: #FCD21C;
    background-color: #ffffff26;
    box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
   }
   

   
   
   
   
   @media (max-width: 768px) {
    .loginmain{
      height: 100vh;
    }

  }
  @media (max-width: 455px) {
    .form-container {
      width: 100%;
    }

  }

   